@import "tailwindcss";

:root {
  --background: #000000;
  --primary: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
  --font-red-rose: var(--font-red-rose);
  --font-instrument-sans: var(--font-instrument-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --primary: #FFFFFF;
  }
}

html {
  font-size: 16px;
}

body {
  background: var(--background);
  color: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
}
